[Desktop Entry]
Type=Application
Name=Rum
Comment=Powerful, fast and modern download manager
Exec=rum %U
Icon=rum
Terminal=false
Categories=Network;FileTransfer;
StartupWMClass=Rum
