[Desktop Entry]
Type=Application
Name=Rum
Comment=Powerful, fast and modern download manager
Exec=/home/tiredboy/Projects/Golang/Rum/build/bin/Rum
Icon=/home/tiredboy/Projects/Golang/Rum/build/icon.png
Terminal=false
Categories=Network;FileTransfer;
StartupWMClass=Rum
